@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'portfolio.css';

:root {
    --eagle-ultramarine: #00A4EF;
    --le-mans-teal: #30D5C8;
    --hybrid-orange: #FF9500;
    --magenta: #FF2D55;
    --vivid-green: #30D652;
    /* ... */
  }